version: '3.6'

services:
    jenkins:
      image: cedrotechnologies/jenkins:development
      ports:
        - "8080:8080"
        - "9090:50000"
      deploy:
        replicas: 1
        restart_policy:
          condition: on-failure
          delay: 5s
          max_attempts: 3
          window: 120s
        update_config:
          failure_action: rollback
          parallelism: 1
          delay: 10s
        resources:
          limits:
            memory: 1G
